@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");

body {
  background-color: #456064;
}

.navbar {
  background-color: #2e4144;
  font-family: "Gochi Hand", cursive;
  font-size: 28px;
  border-bottom: 2px solid #456064;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, .3);
}
.navbar-brand {
  font-size: 28px;
}
.nav-link:hover {
  text-decoration: underline;
}
.navbar-brand:hover > .homeLink{
  color: lightgray;
}

.colorCodeSelection {
  display: flex;
  align-items: center;
  justify-content: center;
}
.colorCodeBtn:first-child{
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.colorCodeBtn:last-child{
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.colorCodeBtn {
  margin: 0;
  margin-top: 20px;
  outline: none;
  background-color: transparent;
  border: 1px solid white;
  font-family: "Gochi Hand", cursive;
  color: white;
  font-size: 24px;
}
.colorCodeBtn:hover{
  text-decoration: underline;
}
.selectedColorCode {
  background-color: white;
  color: #456064;
}

.gameContainer{
  font-family: "Gochi Hand", cursive;
  color: white;
}
.gameQtsColor{
  font-size: 60px;
  line-height: 60px;
}
.gameColorsContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.gameOptionsRow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.gameColorOption{
  background-color: chartreuse;
  height: 150px;
  width: 150px;
  margin: 25px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.gameColorOption:hover{
  transform: scale(1.15);
  box-shadow: 4px 6px 24px hsla(188, 19%, 20%, 0.3);
}

.playAgainBtn{
  border: none;
  outline: none;
  background-color: #387ff2;
  color: white;
  padding: 15px;
  border-radius: 8px;
  transition: all 150ms ease-in-out;
}
.playAgainBtn:hover{
  transform: scale(1.15);
  box-shadow: 4px 6px 24px hsla(188, 19%, 20%, 0.3);
}