@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");

body {
  background-color: #456064;
}

.navbar {
  background-color: #2e4144;
  font-family: "Gochi Hand", cursive;
  font-size: 28px;
  border-bottom: 2px solid #456064;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.3);
}
.navbar-brand {
  font-size: 28px;
}
.nav-link:hover {
  text-decoration: underline;
}
.navbar-brand:hover > .homeLink {
  color: lightgray;
}

.colorCodeSelection {
  display: flex;
  align-items: center;
  justify-content: center;
}
.colorCodeBtn:first-child {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.colorCodeBtn:last-child {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.colorCodeBtn {
  margin: 0;
  margin-top: 20px;
  outline: none;
  background-color: transparent;
  border: 1px solid white;
  font-family: "Gochi Hand", cursive;
  color: white;
  font-size: 24px;
}
.colorCodeBtn:hover {
  text-decoration: underline;
}
.selectedColorCode {
  background-color: white;
  color: #456064;
}

.generatorBody {
  width: 100vw;
  padding: 30px 20px 20px 20px;
  font-size: 30px;
  font-family: "Gochi Hand", cursive;
  color: white;
}
.sliderContainer {
  width: 100%;
}
.rgbSliderDiv {
  width: 100%;
}
.rgbSlider {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  height: 30px;
}
.rgbSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 30px;
  box-shadow: 0px 0px 0px 4px white;
  border-spacing: 4px;
  cursor: pointer;
  border-radius: 10px;
}

#redSlider {
  background: linear-gradient(to right, black, red);
}
#greenSlider {
  background: linear-gradient(to right, black, green);
}
#blueSlider {
  background: linear-gradient(to right, black, blue);
}
