@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");

body {
  background-color: #456064;
}

.navbar {
  background-color: #2e4144;
  font-family: "Gochi Hand", cursive;
  font-size: 28px;
  border-bottom: 2px solid #456064;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.3);
}
.navbar-brand {
  font-size: 28px;
}
.nav-link:hover {
  text-decoration: underline;
}
.navbar-brand:hover > .homeLink {
  color: lightgray;
}

.colorCodeSelection {
  display: flex;
  align-items: center;
  justify-content: center;
}
.colorCodeBtn:first-child {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.colorCodeBtn:last-child {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.colorCodeBtn {
  margin: 0;
  margin-top: 20px;
  outline: none;
  background-color: transparent;
  border: 1px solid white;
  font-family: "Gochi Hand", cursive;
  color: white;
  font-size: 24px;
}
.colorCodeBtn:hover {
  text-decoration: underline;
}
.selectedColorCode {
  background-color: white;
  color: #456064;
}

.generatorBody {
  width: 100vw;
  padding: 30px 20px 20px 20px;
  font-size: 30px;
  font-family: "Gochi Hand", cursive;
  color: white;
}
.rgbColorDisplay {
  height: 502px;
  width: 300px;
  background: white;
  border: 2px solid white;
  border-radius: 16px;
}
.rgbGenerator,
.rgbSliderDiv,
.sliderContainer {
  width: 100%;
}
.sliderContainer {
  margin-left: 40px;
}
.rgbGenerator .rgbSlider {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  height: 30px;
}
.rgbGenerator .rgbSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 30px;
  box-shadow: 0px 0px 0px 4px white;
  border-spacing: 4px;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  border-radius: 10px;
}
.rgbGenerator .rgbSlider::-webkit-slider-thumb:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.rgbGenerator #red {
  background: linear-gradient(to right, black, red);
}
.rgbGenerator #green {
  background: linear-gradient(to right, black, green);
}
.rgbGenerator #blue {
  background: linear-gradient(to right, black, blue);
}
.hslGenerator {
  display: none;
}

.rgbDisplay,
.hexDisplay {
  width: 100%;
  height: auto;
  margin: 20px 0px 20px;
}
.rgbValueDisplay,
.hexValueDisplay {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 4px solid white;
  border-radius: 16px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.rgbCopyBtn,
.hexCopyBtn {
  height: 100%;
  padding: 10px;
  outline: none;
  border: 4px solid white;
  border-left: 0px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  background: transparent;
  color: white;
  transition: color 150ms ease-in-out;
  font-size: 37px;
  line-height: 37px;
}
.rgbCopyBtn:hover,
.hexCopyBtn:hover {
  color: chartreuse;
}
